h1{
    text-align: center;
}
.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.var{
    width: auto;
    border-radius: 2%;
    margin: 5px 3px;
    display: inline;
    padding: 0;
}

.name{
    position: absolute;
    float: left;
    left: 2px;
    bottom: 0;
    margin: 0;
    font-size: 8pt;
}

.value{
    text-align: center;
    width: 100%;
    float: right;
    padding: 5px 3px 5px 2px;
    margin: 0;
}

#btncompile, #run, #clear{
    margin: 20px;
}

body {
    text-align: center;
}

#code {
    width: 100%;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    background: #F4F4F9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
}

#doc {
    min-height: 250px;
    width: 100%;
    margin: 0;
}

#cpuanalize, #memory{
    margin-top: 10px;
}

.fade:not(.show){
    display:none;
    overflow-y: hidden;
}